{% include_once "/res/layout/web/devel/header.html" %}

<!--COMMENT-->
<link href="/modules/bbs/skin/devel/style.css" rel="stylesheet"><!--bbs skin-->
<script type="text/javascript" src="/modules/comment/js/comment.js"></script>
<script type="text/javascript">
var comment_id='notice';
var comment_skin = 'devel';
var paging_theme = 'gray';
var comment_foreign_key = '999';

$(document).ready(function()
{
    comment_skin_template('list',{'foreign_key':comment_foreign_key,'page':1});
    comment_skin_template('write',{'foreign_key':comment_foreign_key});
});
</script>
</head>
<body>
    <div class="container">
         {% include_once "/res/layout/web/devel/title_bar.html" %}
         
         <h3>작동</h3>
         <div id="comment"></div>
         <ul id="paging" class="pagination"></ul>
         <div id="comment_write"></div>
         
         <h3>댓글 설치 방법</h3>
         <h5> 1) 스크립트</h5>
        <pre class="brush: js;">
            &lt;!--COMMENT--&gt;
            &lt;link href="/modules/comment/skin/devel/style.css" rel="stylesheet"&gt;&lt;!--comment skin--&gt;
            &lt;script type="text/javascript" src="/modules/comment/js/comment.js"&gt;&lt;/script&gt;
            &lt;script type="text/javascript"&gt;
            
            &#47;&#47;comment
            var act = '&#123;%params.act%&#125;';
            var comment_id='notice';
            var comment_skin = 'devel';
            var comment_foreign_key = '';
            
            &#47;&#47; paging
            var paging_theme = 'gray';
            
            $(document).ready(function()
            {
                comment_skin_template('list',{'foreign_key':comment_foreign_key,'page':1});
                comment_skin_template('write',{'foreign_key':comment_foreign_key});
            });        
        </pre>
        
        <h5> 2) HTML</h5>
        <pre class="brush: js;">
         <div id="comment"></div>
         <ul id="paging" class="pagination"></ul>
         <div id="comment_write"></div>
        </pre>
        
        <h5> 3) 설정 관련 모듈(XML)</h5>
        <ul class="list-group">
          <li class="list-group-item">comment/xml/<b>{ filter_*.xml, inc.xml, querys.xml }</b></li>
        </ul>
        
        <hr />
        <h3>식별자 설명</h3>
        <ul class="list-group">
          <li class="list-group-item">@comment_id : 댓글이 달리는 게시판 코드명</li>
          <li class="list-group-item">@comment_skin : 댓글 리스트/쓰기 스킨 폴더명(comment/skin/<b>devel</b>)</li>
          <li class="list-group-item">@comment_foreign_key : 게시물 코드번호(게시판에서의 게시물 번호)</li>
          <li class="list-group-item">@paging_theme : 페이징 네이게이션 css 테마(스킨)명</li>
          <li class="list-group-item">@comment_skin_template : 댓글 탬플릿 호출 자바스크립트 함수(실행모드, 게시판/게시물 정보)</li>
        </ul>
        
        
        {% include_once "/res/layout/web/devel/copyright.html" %}
    </div>
</body>

{% include_once "/res/layout/web/devel/footer.html" %}