{% include_once "/res/layout/web/tpl/devel/header.html" %}

<!--BBS-->
<link href="/modules/bbs/skin/default/style.css" rel="stylesheet"><!--bbs skin-->
<script type="text/javascript" src="/modules/bbs/js/bbs.js"></script>
<script type="text/javascript" src="/modules/comment/js/comment.js"></script>
<script type="text/javascript">
// bbs
var act = '{%params.act%}';
var bbs_id='notice';
var bbs_list_type = 'news';
var bbs_skin = 'devel';

//comment
var comment_id='notice';
var comment_skin = 'devel';
var comment_foreign_key = '';

// paging
var paging_theme = 'gray';

$(document).ready(function()
{
    bbs_set_resources();

    var History = window.History, State = History.getState();
    History.Adapter.bind(window,'statechange',function(){
        var State = History.getState();
        if(State !=null && State.data !=null && State.data.mode !=null){
            bbs_skin_template(State.data.mode, State.data);
        }
    });
    History.pushState({%params_json%}, null, null);
});

</script>
</head>
<body>
    본문ㅇㄹㅇㄴ
    <div id="wrapper">
        <div id="bbs"></div>
        <div id="comment"></div>
        <div><ul id="paging" class="pagination"></ul></div>
        <div id="comment_write"></div>
    </div>
</body>


{% include_once "/res/layout/web/tpl/devel/footer.html" %}